@model Slide


<div class="card" style="width: 18rem;">
    <img src="~/assets/images/website-images/@Model.ImageUrl" class="card-img-top" alt="...">
    <div class="card-body">
        <h3 class="card-title">Slide Title: @Model.Title</h3>
        <h6 class="card-title">Subtitle: @Model.Subtitle</h6>
        <p class="card-text">Order: @Model.Order</p>
        <p class="card-text">Description: @Model.Description</p>
        
    </div>
</div>
