@{
    ProductImg main = Model.ProductImages.FirstOrDefault(pi => pi.IsPrimary == true);
    ProductImg hover = Model.ProductImages.FirstOrDefault(pi => pi.IsPrimary == false);
}
@model UpdateProductVM

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Update Product</h1>
                        <form class="forms-sample" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span class="text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group ">

                                <img style="width:150px;height:150px" src="~/assets/images/website-images/@main.Url" />
                                <button type="button" class="btn btn-danger position-absolute">X</button>

                            </div>
                            <div class="form-group">
                                <label asp-for="MainPhoto">Main Photo</label>
                                <input asp-for="MainPhoto" class="form-control" accept="image/*">
                                <span class="text-danger" asp-validation-for="MainPhoto"></span>
                            </div>
                            <div class="form-group  ">

                                <img style="width:150px;height:150px" src="~/assets/images/website-images/@hover.Url" />
                                <button type="button" class="btn btn-danger position-absolute">X</button>
                            </div>
                            <div class="form-group">
                                <label asp-for="HoverPhoto">Hover Photo</label>
                                <input asp-for="HoverPhoto" class="form-control" accept="image/*">
                                <span class="text-danger" asp-validation-for="HoverPhoto"></span>
                            </div>
                            <div class="form-group d-flex">
                                @foreach (ProductImg image in Model.ProductImages.Where(pi => pi.IsPrimary == null))
                                {
                                    <div class="position-relative">
                                        <img style="width:150px;height:150px" src="~/assets/images/website-images/@image.Url" />
                                        <button type="button" style="right:0" class="cus-delete btn btn-danger position-absolute">X</button>
                                        <input asp-for="ImageIds" type="hidden" value="@image.Id">
                                    </div>

                                }
                            </div>
                            <div class="form-group">
                                <label asp-for="Photos">Additional Photos</label>
                                <input asp-for="Photos" class="form-control" accept="image/*">
                                <span class="text-danger" asp-validation-for="Photos"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Price</label>
                                <input asp-for="Price" class="form-control" placeholder="Price">
                                <span class="text-danger" asp-validation-for="Price"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SKU">SKU</label>
                                <input asp-for="SKU" class="form-control" placeholder="SKU">
                                <span class="text-danger" asp-validation-for="SKU"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input asp-for="Description" class="form-control" placeholder="Description">
                                <span class="text-danger" asp-validation-for="Description"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategoryId"> Category </label>


                                <select asp-for="CategoryId" asp-items="new SelectList(Model.Categories,nameof(Category.Id),nameof(Category.Name))" class="form-control">
                                </select>

                                <span class="text-danger" asp-validation-for="CategoryId">  </span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TagsId"> Tags</label>


                                <select asp-for="TagsId" asp-items="new SelectList(Model.Tags,nameof(Tag.Id),nameof(Tag.Name))" class="form-control">
                                </select>

                                <span class="text-danger" asp-validation-for="TagsId">  </span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ColorsId"> Colors</label>


                                <select asp-for="ColorsId" asp-items="new SelectList(Model.Colors,nameof(Color.Id),nameof(Color.Name))" class="form-control">
                                </select>

                                <span class="text-danger" asp-validation-for="ColorsId">  </span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SizesId"> Sizes</label>


                                <select asp-for="SizesId" asp-items="new SelectList(Model.Sizes,nameof(Size.Id),nameof(Size.Name))" class="form-control">
                                </select>

                                <span class="text-danger" asp-validation-for="SizesId">  </span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button asp-action="index" asp-controller="products" class="btn btn-danger">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section DeleteImages
    {
    <script>
        var btns = document.querySelectorAll(".cus-delete")
        for (let i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                btns[i].parentElement.remove();
            })
        }

    </script>
}



